a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;

}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.space {
    align-content: space-between;
}

.center {
    text-align: center;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.header__section {
    background-color: rgb(19, 19, 19);
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 30px;
}

.header__row {
    display: flex;
    justify-content: space-between;
}

.header__column {
    display: flex;
    gap: 20px;
}



.main__banner {
    background-image: url(./inspiro-background.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;

}

.cards__row-3cards {
    grid-template-columns: repeat(3, 1fr);
}

.cards__row {
    text-align: center;
}

.cards__row-arrivals {
    grid-template-columns: repeat(4, 1fr);
}

.cards__card-arrivals {
    padding-bottom: 80px;
}

.activities {
    background-color: rgb(27, 27, 27);
    margin-bottom: 100px;
}

.cards__row-activities {
    grid-template-columns: repeat(3, 1fr);
    color: white;
}

.cards__card-activities {
    padding-bottom: 80px;
}

.cards__row-products {
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.cards__card-products {
    padding-bottom: 80px;
    margin: 0 20px 0 20px;
}